<div class="bgd-main">
  <div class="deloitte-logo">
      <span><img src="../assets/images/deloitte_logo.svg" alt="Deloitte ." /></span>
  </div>
  <div class="flex-container">
      <div class="bgd-1">
      </div>
      <div class="bgd-2">
      </div>
  </div>
  <form [formGroup]="adminForm">
  <div class="admin-form">
      <div class="row">
          <input type="text" class="form-control" formControlName = "userName" placeholder="User Name">
      </div>
      <div class="row">
        <input type="text" class="form-control" formControlName = "userEmailId" placeholder="User EmailId">
    </div>
      <div class="row">
          <input type="password" class="form-control" formControlName = "password" placeholder="User Password">
      </div>
      <div class="row">
        <input type="text" class="form-control" formControlName = "evaluatorName" placeholder="Evaluator Name">
    </div>
    <div class="row">
      <input type="text" class="form-control" formControlName = "evaluatorEmailId" placeholder="Evaluator EmailId">
  </div>
      <div class="row">
          <button mat-button  (click)="login()" >
              Submit</button>
              <!-- <app-selection-component [loginData]=loginRes ></app-selection-component> -->
      </div>
  </div>
   </form>
</div>
